<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="container">
    <div class="left_Side">
        <div class="perfilTexto">
          <h2> Júlia Canavezzi <br><span>Desenvolvedora Frontend</span></h2>
        </div>
        <div class="InfoContato">
          <h3 class="Titulo">Informações de Contato</h3>
          <ul>
            <li>
              <span class="icone"><i class="fa fa-phone" aria-hidden="true"></i></span>
              <span class="text">(11) 99417-3865</span>
            </li>
            <li>
              <span class="icone"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
              <span class="text" href="mailto:julia.canavezzi@gmail.com">{{
                "julia.canavezzi@gmail.com"
              }}</span>
            </li>
            <li>
              <span class="icone"><i class="fa fa-linkedin" aria-hidden="true" ></i></span>
              <span class="text">www.linkedin.com/me</span>
            </li>
            <li>
              <span class="icone"><i class="fa fa-github" aria-hidden="true"></i></span>
              <span class="text">www.github.com/me</span>
            </li>
            <li>
              <span class="icone"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <span class="text">Itu-SP, BR</span>
            </li>
          </ul>
        </div>

        <div class="Formação">
          <h3 class="forma">Formação</h3>
          <ul>
            <li>
              <h5>2024 - 2025</h5>
              <h4>Ensino Superior</h4>
              <h4>Fatec Dom Amaury Castanho</h4>
            </li>
            <li>
              <h5>2021 - 2023</h5>
              <h4>Ensino Médio</h4>
              <h4>Etec Martinho Di Ciero</h4>
            </li>
            <li>
              <h5>2011 - 2020</h5>
              <h4>Ensino Fundamental</h4>
              <h4>Colégio Objetivo</h4>
            </li>
          </ul>
        </div>

        <div class="Idiomas">
          <h3 class="linguas">Idiomas</h3>
          <ul>
            <li>
              <span class="texto">Inglês</span>
              <span class="percentual">
                <div style="width: 97%;"></div>
              </span>
            </li>
            <li>
              <span class="texto">Espanhol</span>
              <span class="percentual">
                <div style="width: 75%;"></div>
              </span>
            </li>
            <li>
              <span class="texto">Francês</span>
              <span class="percentual">
                <div style="width: 50%;"></div>
              </span>
            </li>
          </ul>
        </div>
    </div>

    <div class="right_Side">
      <div class="about">
        <h2 class="Titulo2">Perfil</h2>
        <p>Desenvolvedora Full Stack com mais de 2 anos de experiência em projetos web e mobile. Especializada em desenvolvimento front-end
          utilizando tecnologias como HTML, CSS, JavaScript e frameworks como React e Angular. Proficiente em back-end com experiência
          em Node.js e bancos de dados SQL e NoSQL.<br><br> Possuo histórico comprovado de entrega de projetos de alta qualidade dentro dos prazos
          estabelecidos. Sou apaixonado por resolver problemas complexos e estou sempre buscando aprender novas tecnologias
          para aprimorar minhas habilidades como desenvolvedor.<br><br> Estou cursando o Ensino Superior, em Análise e Desenvolvimento
          de Sistemas, busco me aprimorar muito mais na área e desenvolver diversos projetos.</p>
      </div>
      <div class="about">
        <h2 class="Titulo2">Experiência</h2>
        <div class="box">
          <div class="empresas">
            <h5>2024 - Atualmente</h5>
            <h5>Microsoft</h5>
          </div>
          <div class="cargo">
            <h4>Pleno UX Designer</h4>
            <p>Iniciei minha jornada na Microsoft como uma desenvolvedora determinada, ávida por desafios e apaixonada por tecnologia.
             Espero me desenvolver muito mais.</p>
          </div>
        </div>

        <div class="box">
          <div class="empresas">
            <h5>2019 - 2024</h5>
            <h5>Apple</h5>
          </div>
          <div class="cargo">
            <h4>Dev Jr.</h4>
            <p>Minha jornada na Apple foi caracterizada por um compromisso inabalável com o aprendizado contínuo e o desenvolvimento pessoal
              e profissional. </p>
          </div>
        </div>

        <div class="box">
          <div class="empresas">
            <h5>2015 - 2019</h5>
            <h5>Amazon</h5>
          </div>
          <div class="cargo">
            <h4>Estagiário em UX</h4>
            <p>Como meu primeiro estágio,
              a experiência na empresa não apenas me proporcionou uma introdução valiosa ao mundo do trabalho,
              mas também serviu como um catalisador para meu crescimento pessoal e profissional.</p>
          </div>
        </div>
      </div>

      <div class="about habilidades">
        <h2 class="Titulo2">Principais Habilidades</h2>
        <div class="box">
          <h4>HTML</h4>
          <div class="percentual">
            <div style="width: 98%;"></div>
          </div>
        </div>

        <div class="box">
          <h4>CSS</h4>
          <div class="percentual">
            <div style="width: 82%;"></div>
        </div>
        </div>

        <div class="box">
          <h4>JavaScript</h4>
          <div class="percentual">
            <div style="width: 100%;"></div>
          </div>
        </div>

        <div class="box">
          <h4>Java</h4>
          <div class="percentual">
            <div style="width: 66%;"></div>
          </div>
        </div>

        <div class="box">
          <h4>Adobe XD</h4>
          <div class="percentual">
            <div style="width: 90%;"></div>
          </div>
        </div>

         <div class="box">
          <h4>Photoshop</h4>
          <div class="percentual">
            <div style="width: 78%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
